
.article{
    background: white;
    padding: 30px;
    margin-bottom: 40px;
}
.title{
    font-weight: 400;
    font-size: x-large;
    font-family: 微软雅黑;
    text-align: center;
}
.info{
    font-weight: 200;
    font-family: 微软雅黑;
    text-align: center;
}
.img{
    margin-top: 20px;
    margin-bottom: 20px;
}
.content{
    font-family: 微软雅黑;
    font-weight: 500;
    font-size: medium;
    margin-bottom: 20px;
    padding-top: 10px;
    word-break: break-all;
    word-wrap:break-word;
}
.content>p>img{
    max-width: 100%;
}
.times{
    margin-right: 15px;
}
.right-box{
    background: white;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}
.bottom-title{
    font-family: 微软雅黑;
    font-size: large;
    margin-right: 10px;
}
.title-hr{
    color: yellow;
}
.email{
    font-family: 微软雅黑;
    font-weight: 200;
    font-size: medium;
}
.right-span{
    margin-right: 10px;
}
.about-author{
    background: white;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.home{
    margin-top: 7px;
    margin-right: 7px;
}
.person_center{
    margin-left: 15px;
    margin-right: 7px;
}
.answer-list{
    background: white;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
}
.write{
    background: white;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    margin-bottom: 40px;
}
.right-title{
    font-family: 微软雅黑;
    font-size: large;
}
.comment_time{
    float: right;
    font-family: 微软雅黑;
    padding-right: 5px;
}
.comment_num{
    font-family: 微软雅黑;
    font-weight: 200;
    font-size: medium;
}
.comment_content{
    font-weight: 500;
    font-size: medium;
    font-family: 微软雅黑;
}
body{
    background: #ebebeb;
}
.header{
    background-image: url("/static/images/show_head_03.jpg");
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
}
.header_font{
    margin-top: 44px;
}