<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}-QA Team分享系统</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favorite.ico') }}" />
    {% block head %}

    {% endblock %}
</head>
<body>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" style="margin-bottom: 0;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
{#                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>#}
                <img class="icon" src="{{ url_for('static', filename='images/icon.png') }}" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ url_for('main.index') }}" class="top-font">首页 <span class="sr-only">(current)</span></a></li>
                <li><a href="{{ url_for('people.index') }}" class="top-font">个人中心</a></li>
                <li><a href="{{ url_for('article.add_content') }}" class="top-font">写分享</a></li>
            </ul>
            <form class="navbar-form navbar-left" action="{{ url_for('main.search') }}">
                <div class="form-group">
                    <input type="text" name="keywords" class="form-control top-font" placeholder="搜索内容">
                </div>
                <button type="submit" class="btn btn-default">查找</button>
            </form>

            <ul class="nav navbar-nav navbar-right navbar-form ">
                    <div class="form-group">
                        {% if user %}
                            <li>
                                <a href="{{ url_for('people.index') }}"><img class="img-circle head-ico" width="36" height="36" src="{{ url_for('static',filename='images/boy.jpg') }}"></a>
                                <a href="{{ url_for('main.logout') }}"><button type="submit" class="btn btn-success  button-font">注销</button></a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ url_for('main.login') }}"><button type="submit" class="btn btn-primary  button-font">登录</button></a>
                                <a href="{{ url_for('main.register') }}"><button type="submit" class="btn btn-success  button-font">注册</button></a>
                            </li>
                        {% endif %}
                    </div>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>



{% block body %}

{% endblock %}

<div class="container">
    <footer>
        <p class="pull-right"><a href="#">回到顶部</a></p>
{#        <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>#}
    </footer>
</div>
</body>
</html>